%section#about_messiah
  .slider-wrapper.theme-default
    .ribbon
    #slider.ramblingSlider
      = copywriting_options scope: 'home_page', phrase_type: 'wysiwyg' do
        .scene
          = raw copywriting('Scene 1', default: 'Scene 1')
        .scene
          = raw copywriting('Scene 2', default: 'Scene 2')
        .scene
          = raw copywriting('Scene 3', default: 'Scene 3')
    #html_caption.rambling-html-caption
      <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.

%section#home_sidebar
  %header
    %h4 Worship Services
  %ul
    %li.first
      %h5 Evening Worship
      %p Saturday 5:30p, Sanctuary
    %li
      %h5 Evening Worship
      %p Saturday 5:30p, Sanctuary
    %li
      %h5 Evening Worship
      %p Saturday 5:30p, Sanctuary
    %li
      %h5 Evening Worship
      %p Saturday 5:30p, Sanctuary
%section#recent
  .first
    %header
      %h2 Latest News
      %h6
        %a{href: refinery.messengers_messengers_path} Weekly Messenger
        %a{href: refinery.messengers_messengers_path} Monthly Messenger
        %a{href: refinery.sermons_sermons_path} Recent Sermons
    %p Kroger Rewards has donated $8,113 to Messiah this year. To help us out, please <a href="#">enroll today!</a>
    %p
      %a{href:"#"} Adult softball season
      is just around the corner!
  %div
    =render '/refinery/events/shared/upcoming'
  %span.clear

= render template: 'layouts/application'
