%section#about_messiah
  .slider-wrapper.theme-default
    .ribbon
    #slider.ramblingSlider
      = copywriting_options scope: 'home_page', phrase_type: 'wysiwyg' do
        #scene_1.scene
          = raw copywriting('Scene 1', default: 'Scene 1')
        #scene_2.scene
          = raw copywriting('Scene 2', default: 'Scene 2')
        #scene_3.scene
          = raw copywriting('Scene 3', default: 'Scene 3')
    #html_caption.rambling-html-caption
      <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.

%section#home_sidebar
  %header
    %h4 Worship Services
  = raw copywriting('Worship Services', scope: 'Home Page')
%section#recent
  .first
    %header
      %h2 Latest News
    = raw copywriting('LNews Header', scope: 'Home Page', default: '<h6> <a href="/messengers">Weekly Messenger</a> <a href="/messengers">Monthly Messenger</a> <a href="/sermons">Recent Sermons</a> </h6>')
    = raw copywriting('Latest News', scope: 'Home Page')
  %div
    =render '/refinery/events/shared/upcoming'
  %span.clear

= render template: 'layouts/application'
