#slideshow
  = image_tag 'building.jpg', :class => 'active'
  = image_tag 'matthew.jpg'
  = image_tag 'alleluia.jpg'
  = image_tag 'elissa.jpg'
#home_sections
  .section
    %h2= link_to 'Discover Messiah', 'discover-messiah'
    %ul
      %li Worship Times
      %li Directions
      %li Staff Profiles
      %li Ministry Descriptions
  .section
    %h2= link_to 'This Week at Messiah', 'this-week-at-messiah'
    %ul
      %li Weekly Messenger
      %li Schedule
      %li Highlights
  .section
    %h2= link_to 'Support Messiah', 'support-messiah'
    %ul
      %li Donate
      %li Volunteer
