.menupart
  .menutopitems
    %a{:href => refinery.root_path }
      .menu_item.selected HOME
    .menu_separator
      = image_tag 'menu_separator.png'
    %a{:href => refinery.pastors_pastors_path}
      .menu_item MEET US
    .menu_separator
      = image_tag 'menu_separator.png'
    -#
      %a{:href => events_path }
      .menu_item EVENTS
    .menu_separator
      = image_tag 'menu_separator.png'
    %a{:href => '#'}
      .menu_item WORSHIP
    .menu_separator
      = image_tag 'menu_separator.png'
    %a{:href => '#'}
      .menu_item MINISTRY
    .menu_separator
      = image_tag 'menu_separator.png'
    %a{:href => '#'}
      .menu_item MISSIONS
    .menu_separator
      = image_tag 'menu_separator.png'
    %a{:href => '#'}
      .menu_item YOUTH
    .menu_separator
      = image_tag 'menu_separator.png'
    %a{:href => '#'}
      .menu_item GIVING
